## Describe Dataframe

In [4]:
import pandas as pd
piraten = pd.read_csv('piraten.txt', sep='\t')
print(piraten)

    pirat_in geschlecht  alter         meer  schaetze  schiffe  gefahr  \
0       Kurt          m   32.0      Karibik         4        0       1
1       Sven          m    NaN      Karibik         1        2       1
2      Sanna          w   35.0  Nordpazifik         4        3       1
3     Johnny          m   34.0  Nordpazifik         0        2       1
4   Annabell          w   39.0  Nordpazifik         1        2       1
..       ...        ...    ...          ...       ...      ...     ...
79       Tim          m   47.0      Nordsee         2        4       7
80  Walburga          w   38.0      Nordsee         7        5       8
81      Nina          w   28.0      Nordsee         0        4       8
82   Tjorven          w   35.0      Nordsee         2        7       8
83     Klaas          m   41.0      Nordsee         5        8       8

   schwimmen besitzer_in
0        NaN        nein
1       nein        nein
2         ja          ja
3       nein        nein
4       nein        nein
..       ...         ...
79        ja          ja
80        ja          ja
81        ja        nein
82      nein          ja
83        ja          ja

[84 rows x 9 columns]

In [7]:
print(round(piraten.describe()))

       alter  schaetze  schiffe  gefahr
count   82.0      84.0     84.0    84.0
mean    35.0       3.0      3.0     4.0
std      8.0       3.0      2.0     2.0
min     16.0       0.0      0.0     1.0
25%     30.0       1.0      2.0     3.0
50%     35.0       3.0      3.0     4.0
75%     39.0       4.0      4.0     5.0
max     59.0      14.0      8.0     8.0

## Select certain data

In [6]:
piraten[piraten['schwimmen'] == 'ja']

,pirat_in,geschlecht,alter,meer,schaetze,schiffe,gefahr,schwimmen,besitzer_in
2,Sanna,w,35.0,Nordpazifik,4,3,1,ja,ja
7,Randolf,m,35.0,Nordsee,8,0,1,ja,ja
9,Jenny,w,29.0,Karibik,3,1,2,ja,nein
15,Svea,w,29.0,Nordpazifik,1,3,2,ja,nein
16,Courtney,w,20.0,Karibik,2,3,3,ja,nein
19,Antonia,w,46.0,Karibik,3,1,3,ja,ja
22,Yannik,m,19.0,Nordpazifik,1,3,3,ja,nein
24,Tina,w,35.0,Nordpazifik,4,3,3,ja,nein
25,Bengt,m,36.0,Nordpazifik,1,3,3,ja,nein
31,Beate,w,28.0,Karibik,8,4,4,ja,nein
32,Conni,w,36.0,Karibik,1,2,4,ja,nein
34,Runi,w,44.0,Karibik,4,4,4,ja,ja
36,Svensson,m,22.0,Nordpazifik,1,2,4,ja,nein
37,Kim,d,25.0,Nordpazifik,4,4,4,ja,nein
41,Pina,w,45.0,Nordpazifik,3,3,4,ja,ja
43,Anike,w,39.0,Nordsee,5,3,4,ja,ja
44,Ben,m,27.0,Nordsee,6,4,4,ja,ja
45,Jaqueline,w,34.0,Karibik,2,3,5,ja,ja
46,Thea,w,28.0,Karibik,2,6,5,ja,nein
48,Sina,w,32.0,Karibik,3,5,5,ja,nein
49,Turtur,m,39.0,Karibik,4,3,5,ja,ja
50,Lou,d,40.0,Karibik,2,3,5,ja,ja
52,Tabea,w,34.0,Nordpazifik,3,4,5,ja,nein
54,Timm,m,34.0,Nordpazifik,7,3,5,ja,ja
57,Gwendolyn,w,24.0,Nordsee,5,4,5,ja,ja
58,Annina,w,34.0,Nordsee,6,0,5,ja,ja
59,Jon,m,34.0,Nordsee,0,2,5,ja,ja
63,Anni,w,37.0,Nordsee,3,2,5,ja,ja
69,Gunilla,w,32.0,Nordsee,5,3,6,ja,ja
70,Erik,m,37.0,Nordsee,9,3,6,ja,ja
72,Gregor,m,41.0,Nordsee,3,3,6,ja,ja
73,Claudia,w,48.0,Nordsee,1,5,6,ja,ja
79,Tim,m,47.0,Nordsee,2,4,7,ja,ja
80,Walburga,w,38.0,Nordsee,7,5,8,ja,ja
81,Nina,w,28.0,Nordsee,0,4,8,ja,nein
83,Klaas,m,41.0,Nordsee,5,8,8,ja,ja